.ol-sb-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
}
.ol-sb-sidebar.ol-sb-collapsed {
  width: 40px;
}
@media (min-width: 768px) {
  .ol-sb-sidebar {
    top: 6px;
    bottom: 6px;
    transition: width 500ms;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ol-sb-sidebar {
    width: 305px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ol-sb-sidebar {
    width: 390px;
  }
}
@media (min-width: 1200px) {
  .ol-sb-sidebar {
    width: 460px;
  }
}

.ol-sb-sidebar-left {
  left: 0;
}
@media (min-width: 768px) {
  .ol-sb-sidebar-left {
    left: 6px;
  }
}

.ol-sb-sidebar-right {
  right: 0;
}
@media (min-width: 768px) {
  .ol-sb-sidebar-right {
    right: 6px;
  }
}

.ol-sb-sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 60, 136, 0.5);
}
.ol-sb-sidebar-left .ol-sb-sidebar-tabs {
  left: 0;
}
.ol-sb-sidebar-right .ol-sb-sidebar-tabs {
  right: 0;
}
.ol-sb-sidebar-tabs, .ol-sb-sidebar-tabs > ul {
  position: absolute;
  width: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ol-sb-sidebar-tabs > li, .ol-sb-sidebar-tabs > ul > li {
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 12pt;
  overflow: hidden;
  transition: all 80ms;
}
.ol-sb-sidebar-tabs > li:hover, .ol-sb-sidebar-tabs > ul > li:hover {
  color: #fff;
  background-color: rgba(0, 60, 136, 0.6);
}
.ol-sb-sidebar-tabs > li.ol-sb-active, .ol-sb-sidebar-tabs > ul > li.ol-sb-active {
  color: #fff;
  background-color: #0074d9;
}
.ol-sb-sidebar-tabs > li.ol-sb-disabled, .ol-sb-sidebar-tabs > ul > li.ol-sb-disabled {
  color: rgba(255, 255, 255, 0.4);
}
.ol-sb-sidebar-tabs > li.ol-sb-disabled:hover, .ol-sb-sidebar-tabs > ul > li.ol-sb-disabled:hover {
  background: transparent;
}
.ol-sb-sidebar-tabs > li.ol-sb-disabled > a, .ol-sb-sidebar-tabs > ul > li.ol-sb-disabled > a {
  cursor: default;
}
.ol-sb-sidebar-tabs > li > a, .ol-sb-sidebar-tabs > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.ol-sb-sidebar-tabs > ul + ul {
  bottom: 0;
}

.ol-sb-sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-x: hidden;
  overflow-y: auto;
}
.ol-sb-sidebar-left .ol-sb-sidebar-content {
  left: 40px;
  right: 0;
}
.ol-sb-sidebar-right .ol-sb-sidebar-content {
  left: 0;
  right: 40px;
}
.ol-sb-sidebar.ol-sb-collapsed > .ol-sb-sidebar-content {
  overflow-y: hidden;
}

.ol-sb-sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px;
}
.ol-sb-sidebar-pane.ol-sb-active {
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .ol-sb-sidebar-pane {
    min-width: 265px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ol-sb-sidebar-pane {
    min-width: 350px;
  }
}
@media (min-width: 1200px) {
  .ol-sb-sidebar-pane {
    min-width: 420px;
  }
}

.ol-sb-sidebar-header {
  margin: -10px -20px 0;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14.4pt;
  color: #fff;
  background-color: #0074d9;
}
.ol-sb-sidebar-right .ol-sb-sidebar-header {
  padding-left: 40px;
}

.ol-sb-sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.ol-sb-sidebar-left .ol-sb-sidebar-close {
  right: 0;
}
.ol-sb-sidebar-right .ol-sb-sidebar-close {
  left: 0;
}

.ol-sb-sidebar {
  background-color: rgba(255, 255, 255, 0.4);
}
@media (min-width: 768px) {
  .ol-sb-sidebar {
    border: 3px solid transparent;
    border-radius: 4px;
  }
}

.ol-sb-sidebar-left {
  border-right: 3px solid transparent;
}

.ol-sb-sidebar-right {
  border-left: 3px solid transparent;
}

.ol-sb-sidebar-tabs {
  overflow: hidden;
}
@media (min-width: 768px) {
  .ol-sb-sidebar-tabs {
    border-radius: 2px 0 0 2px;
  }
  .ol-sb-collapsed .ol-sb-sidebar-tabs {
    border-radius: 2px;
  }
}

@media (min-width: 768px) {
  .ol-sb-sidebar-content {
    border-radius: 0 2px 2px 0;
  }
}

.ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-zoom, .ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-scale-line {
  margin-left: 46px;
}
@media (min-width: 768px) {
  .ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-zoom, .ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-scale-line {
    transition: margin-left 500ms;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-zoom, .ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-scale-line {
    margin-left: 317px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-zoom, .ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-scale-line {
    margin-left: 402px;
  }
}
@media (min-width: 1200px) {
  .ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-zoom, .ol-sb-sidebar-left ~ .ol-sb-sidebar-map .ol-scale-line {
    margin-left: 472px;
  }
}
@media (min-width: 768px) {
  .ol-sb-sidebar-left.ol-sb-collapsed ~ .ol-sb-sidebar-map .ol-zoom, .ol-sb-sidebar-left.ol-sb-collapsed ~ .ol-sb-sidebar-map .ol-scale-line {
    margin-left: 52px;
  }
}

.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-rotate,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-attribution,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-full-screen {
  margin-right: 46px;
}
@media (min-width: 768px) {
  .ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-rotate,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-attribution,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-full-screen {
    transition: margin-right 500ms;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-rotate,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-attribution,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-full-screen {
    margin-right: 317px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-rotate,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-attribution,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-full-screen {
    margin-right: 402px;
  }
}
@media (min-width: 1200px) {
  .ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-rotate,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-attribution,
.ol-sb-sidebar-right ~ .ol-sb-sidebar-map .ol-full-screen {
    margin-right: 472px;
  }
}
@media (min-width: 768px) {
  .ol-sb-sidebar-right.ol-sb-collapsed ~ .ol-sb-sidebar-map .ol-rotate,
.ol-sb-sidebar-right.ol-sb-collapsed ~ .ol-sb-sidebar-map .ol-attribution,
.ol-sb-sidebar-right.ol-sb-collapsed ~ .ol-sb-sidebar-map .ol-full-screen {
    margin-right: 52px;
  }
}

/*# sourceMappingURL=ol3-sidebar.css.map */
